.jtax {
   background-color: rgb(255,255,255);
    border: none;
    color: blue;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
	border-radius: 12px;
	float:left;
}
.jtax:hover {
    background-color: rgb(255,255,255); /* Green */
    color: black;
}
.login {
   background-color: rgb(255,255,255);
    border: none;
    color: blue;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
	border-radius: 12px;
	border: 2px solid #e7e7e7;
	float:right;
	
}
.login:hover {
    background-color: #4CAF50; /* Green */
    color: black;
}
.login:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.signup {
   background-color: rgb(255,255,255);
    border: none;
    color: blue;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
	border-radius: 12px;
	border: 2px solid #e7e7e7;
	float:right;
	margin-right: 10px;
}
.signup:hover {
    background-color: #4CAF50; /* Green */
    color: black;
}
.signup:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}